@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;500&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: 0;
font-family: "Lobster",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #23252a;
}
.box{
    /* position: relative; */
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 15px;
}
.box form
{
    /* position: absolute; */
    inset: 8px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    display: flex;
    z-index: 2;
    flex-direction: column;

}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2em;
}
.box form .inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
    

}
 .box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px ;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputbox span
{
    position: relative; 
     left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}    
.box form .inputbox input:valid ~ span
.box form .inputbox input:focus ~ span
{
  color: #fff;  
font-size: 0.75em;
transform: translateY(-34px);
}
.box form .links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #8f8f8f;
  }
  
  .box form .links a {
    color: #8f8f8f;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .box form .links a:hover {
    color: #fff;
  }
  
  .box form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.05em;
    cursor: pointer;
    

  }
  .box form input[type="submit"]:hover {
    background-color: #0062cc;
    }